<div class="footer-sidebar-wrapper footer-white">
    <div class="footer-sidebar sidebar container footer-sidebar-container">
        <div class="footer-separator"></div>
        <ul id="footer-sidebar">
            <li id="cookandmeal-text-3" class="widget widget_cookandmeal_text">
                <div class="cookandmeal-textwidget-wrapper ">
                    <h2 class="widgettitle">About </h2>
                    <div class="cookandmeal-textwidget" style="text-align: left;">
                        <p>I create simple, delicious recipes that require 10 ingredients or less, one bowl, or 30
                            minutes or less
                            to prepare.</p><a class="btn" href="contact/index.html" target="_self">Contact</a>
                    </div>
                </div>
            </li>
            <li id="nav_menu-2" class="widget widget_nav_menu">
                <h2 class="widgettitle">Useful links</h2>
                <div class="menu-footer-widget-menu-container">
                    <ul id="menu-footer-widget-menu" class="menu">
                        <li id="menu-item-562"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-562"><a
                                href="about/index.html">About</a></li>
                        <li id="menu-item-561"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-561"><a
                                href="contact/index.html">Contact</a></li>
                        <li id="menu-item-564"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-564">
                            <a href="category/basics/index.html">Basics</a>
                        </li>
                        <li id="menu-item-565"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-565">
                            <a href="category/vegan/index.html">Vegan</a>
                        </li>
                        <li id="menu-item-566"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-566">
                            <a href="category/recipes/index.html">Recipes</a>
                        </li>
                        <li id="menu-item-563"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-563">
                            <a href="category/chicken/index.html">Chicken</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li id="cookandmeal-list-posts-3" class="widget widget_cookandmeal_list_entries">
                <h2 class="widgettitle">Latest posts</h2>
                <ul class="template-shortline-inside">

                    <li class="template-shortline">
                        <div class="cookandmeal-shortline-post cookandmeal-post">
                            <div class="cookandmeal-post-image-wrapper"><a
                                    href="2021/06/08/homemade-oatmeal-chocolate-chip-cookie-crisp-cereal/index.html">
                                    <div class="cookandmeal-post-image"
                                        style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-6/wp-content/uploads/2021/05/image-from-rawpixel-id-105386-jpeg-220x180.jpg);">
                                    </div>
                                </a></div>
                            <div class="cookandmeal-post-details">
                                <h3 class="post-title entry-title"><a
                                        href="2021/06/08/homemade-oatmeal-chocolate-chip-cookie-crisp-cereal/index.html">Homemade
                                        Oatmeal
                                        Chocolate Chip Cookie Crisp Cereal</a></h3>
                                <div class="post-date"><time class="entry-date published updated"
                                        datetime="2021-06-08T22:23:00+00:00">June 8, 2021</time></div>
                            </div>
                        </div>
                    </li>
                    <li class="template-shortline">
                        <div class="cookandmeal-shortline-post cookandmeal-post">
                            <div class="cookandmeal-post-image-wrapper"><a
                                    href="2021/06/07/almond-flour-pancakes/index.html">
                                    <div class="cookandmeal-post-image"
                                        style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-6/wp-content/uploads/2021/05/qdm6-ffkp0s-220x180.jpg);">
                                    </div>
                                </a></div>
                            <div class="cookandmeal-post-details">
                                <h3 class="post-title entry-title"><a
                                        href="2021/06/07/almond-flour-pancakes/index.html">Almond Flour
                                        Pancakes</a></h3>
                                <div class="post-date"><time class="entry-date published updated"
                                        datetime="2021-06-07T11:26:50+00:00">June 7, 2021</time></div>
                            </div>
                        </div>
                    </li>

                </ul>
            </li>
            <li id="cookandmeal-categories-3" class="widget widget_cookandmeal_categories">
                <h2 class="widgettitle">Categories</h2>
                <div class="post-categories-list">
                    <div class="cookandmeal-post cookandmeal-image-wrapper with-bg"><a href="category/basics/index.html"
                            class="cookandmeal-featured-category-link">
                            <div class="post-categories-image cookandmeal-image"
                                style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-1/assets/images/uploads/2021/05/6rjct18g_3i.jpg);">
                            </div>
                            <div class="post-categories-overlay">
                                <div class="post-categories-bg" style="background-color: #e584b9;"></div>
                                <div class="post-categories">
                                    <div class="post-category"><i class="fa fa-tag cat-dot" aria-hidden="true"></i><span
                                            class="cat-title">Basics</span></div>
                                </div>
                                <span class="post-categories-counter">4 Posts</span>
                            </div>
                        </a>
                    </div>
                    <div class="cookandmeal-post cookandmeal-image-wrapper with-bg"><a
                            href="category/chicken/index.html" class="cookandmeal-featured-category-link">
                            <div class="post-categories-image cookandmeal-image"
                                style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-1/assets/images/uploads/2021/05/zyx6a0reb18.jpg);">
                            </div>
                            <div class="post-categories-overlay">
                                <div class="post-categories-bg" style="background-color: #8b84e5;"></div>
                                <div class="post-categories">
                                    <div class="post-category"><i class="fa fa-tag cat-dot" aria-hidden="true"></i><span
                                            class="cat-title">Chicken</span></div>
                                </div>
                                <span class="post-categories-counter">4 Posts</span>
                            </div>
                        </a>
                    </div>
                    <div class="cookandmeal-post cookandmeal-image-wrapper with-bg"><a href="category/easy/index.html"
                            class="cookandmeal-featured-category-link">
                            <div class="post-categories-image cookandmeal-image"
                                style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-1/assets/images/uploads/2021/05/1rm9glhv0ua.jpg);">
                            </div>
                            <div class="post-categories-overlay">
                                <div class="post-categories-bg" style="background-color: #84a6e5;"></div>
                                <div class="post-categories">
                                    <div class="post-category"><i class="fa fa-tag cat-dot" aria-hidden="true"></i><span
                                            class="cat-title">Easy</span></div>
                                </div>
                                <span class="post-categories-counter">6 Posts</span>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="footer-wrapper">
    <footer class="main-footer footer-white">
        <div class="container">
            <div class="footer-separator"></div>

            <div class="footer-social">
                <div class="social-icons-wrapper social-icons-with-bg"><a href="https://facebook.com/" target="_blank"
                        class="a-facebook no-description"><i class="fa fa-facebook"></i></a><a
                        href="https://pinterest.com/" target="_blank" class="a-pinterest no-description"><i
                            class="fa fa-pinterest"></i></a><a href="https://instagram.com/" target="_blank"
                        class="a-instagram no-description"><i class="fa fa-instagram"></i></a><a
                        href="https://youtube.com/" target="_blank" class="a-youtube no-description"><i
                            class="fa fa-youtube"></i></a></div>
            </div>


            <div class="footer-copyright">
                Powered by <a href="https://magniumthemes.com/go/purchase-cookandmeal/" target="_blank"
                    rel="noopener">CookAndMeal</a> - Food Blog &amp; Recipe WordPress Theme </div>

        </div>
    </footer>
</div>