<div class="page-container container span-col-md-8">
  <div class="row">
    <div class="col-md-8">
      <div class="entry-content clearfix" role="main">
        <article>
          <div class="woocommerce">
            <div class="woocommerce-notices-wrapper"></div>
            <div class="woocommerce-form-coupon-toggle">

              <div class="woocommerce-info">
                Have a coupon? <a href="#" class="showcoupon">Click here to enter your code</a> </div>
            </div>
            <div class="woocommerce-notices-wrapper"></div>
            <form name="checkout" method="post" class="checkout woocommerce-checkout"
              action="https://wp.wp-preview.com/cookandmeal/cookandmeal-6/checkout/" enctype="multipart/form-data"
              novalidate="novalidate">



              <div class="col2-set" id="customer_details">
                <div class="col-1">
                  <div class="woocommerce-billing-fields">

                    <h3>Billing details</h3>



                    <div class="woocommerce-billing-fields__field-wrapper">
                      <p class="form-row form-row-first validate-required" id="billing_first_name_field"
                        data-priority="10"><label for="billing_first_name" class="">First name&nbsp;<abbr
                            class="required" title="required">*</abbr></label><span
                          class="woocommerce-input-wrapper"><input type="text" class="input-text "
                            name="billing_first_name" id="billing_first_name" placeholder="" value=""
                            autocomplete="given-name"></span></p>
                      <p class="form-row form-row-last validate-required" id="billing_last_name_field"
                        data-priority="20"><label for="billing_last_name" class="">Last name&nbsp;<abbr class="required"
                            title="required">*</abbr></label><span class="woocommerce-input-wrapper"><input type="text"
                            class="input-text " name="billing_last_name" id="billing_last_name" placeholder="" value=""
                            autocomplete="family-name"></span></p>
                      <p class="form-row form-row-wide" id="billing_company_field" data-priority="30"><label
                          for="billing_company" class="">Company name&nbsp;<span
                            class="optional">(optional)</span></label><span class="woocommerce-input-wrapper"><input
                            type="text" class="input-text " name="billing_company" id="billing_company" placeholder=""
                            value="" autocomplete="organization"></span></p>

                      <p class="form-row address-field validate-required form-row-wide" id="billing_address_1_field"
                        data-priority="50"><label for="billing_address_1" class="">Street address&nbsp;<abbr
                            class="required" title="required">*</abbr></label><span
                          class="woocommerce-input-wrapper"><input type="text" class="input-text "
                            name="billing_address_1" id="billing_address_1" placeholder="House number and street name"
                            value="" autocomplete="address-line1"
                            data-placeholder="House number and street name"></span></p>

                      <p class="form-row address-field validate-required form-row-wide" id="billing_city_field"
                        data-priority="70" data-o_class="form-row form-row-wide address-field validate-required"><label
                          for="billing_city" class="">Town / City&nbsp;<abbr class="required"
                            title="required">*</abbr></label><span class="woocommerce-input-wrapper"><input type="text"
                            class="input-text " name="billing_city" id="billing_city" placeholder="" value=""
                            autocomplete="address-level2"></span></p>

                      <p class="form-row form-row-wide validate-required validate-phone" id="billing_phone_field"
                        data-priority="100"><label for="billing_phone" class="">Phone&nbsp;<abbr class="required"
                            title="required">*</abbr></label><span class="woocommerce-input-wrapper"><input type="tel"
                            class="input-text " name="billing_phone" id="billing_phone" placeholder="" value=""
                            autocomplete="tel"></span></p>
                      <p class="form-row form-row-wide validate-required validate-email" id="billing_email_field"
                        data-priority="110"><label for="billing_email" class="">Email address&nbsp;<abbr
                            class="required" title="required">*</abbr></label><span
                          class="woocommerce-input-wrapper"><input type="email" class="input-text " name="billing_email"
                            id="billing_email" placeholder="" value="" autocomplete="email username"></span></p>
                    </div>

                  </div>

                </div>

                <div class="col-2">
                  <div class="woocommerce-shipping-fields">
                  </div>
                  <div class="woocommerce-additional-fields">



                    <h3>Additional information</h3>


                    <div class="woocommerce-additional-fields__field-wrapper">
                      <p class="form-row notes" id="order_comments_field" data-priority=""><label for="order_comments"
                          class="">Order notes&nbsp;<span class="optional">(optional)</span></label><span
                          class="woocommerce-input-wrapper"><textarea name="order_comments" class="input-text "
                            id="order_comments" placeholder="Notes about your order, e.g. special notes for delivery."
                            rows="2" cols="5"></textarea></span></p>
                    </div>


                  </div>
                </div>
              </div>




            </form>

          </div>
        </article>
      </div>

    </div>
    <div class="col-md-4 page-sidebar sidebar sidebar-right" role="complementary">
      <h3 id="order_review_heading">Your order</h3>


      <div id="order_review" class="woocommerce-checkout-review-order">
        <table class="shop_table woocommerce-checkout-review-order-table">
          <thead>
            <tr>
              <th class="product-name">Product</th>
              <th class="product-total">Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr class="cart_item" *ngFor="let item of listCart; let i = index">
              <td class="product-name">
                {{item.name}}&nbsp; <strong class="product-quantity">×&nbsp;{{item.quantity}}</strong> </td>
              <td class="product-total">
                <span class="woocommerce-Price-amount amount">
                  <bdi>
                    <span class="woocommerce-Price-currencySymbol">$</span>
                    {{item.subtotal
                    | number:"1.0-0"}}
                  </bdi>
                </span>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="order-total">
              <td>Total</td>
              <td><strong><span class="woocommerce-Price-amount amount"><bdi><span
                        class="woocommerce-Price-currencySymbol">$</span>{{total() |
                      number:"1.0-0"}}</bdi></span></strong> </td>
            </tr>


          </tfoot>
        </table>

        <div id="payment" class="woocommerce-checkout-payment">

          <!-- <button type="submit" class="btn checkout-button button alt wc-forward"  
              >Place order</button> -->
          <div id="paypal-button-container"></div>

        </div>

      </div>

    </div>
  </div>
</div>