mat-form-field {
    width: 100%;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background:rgba(63, 81, 181, 0.653) !important
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background: #3f51b5 !important
}

.cdk-overlay-connected-position-bounding-box .mat-menu-panel { 
    max-width: initial !important}