<app-load [isLoading]="loading"></app-load>
<div class="content-block post-header-incontent3 post-sidebar-right">
    <div class="post-container container span-col-md-8">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-post blog-post-single hentry clearfix">
                    <div class="blog-post-thumb">
                        <img width="1140" height="694" [src]="blog?.banner_img"
                            class="attachment-cookandmeal-blog-thumb size-cookandmeal-blog-thumb wp-post-image"
                            alt="baked pastries near butter on white ceramic plate" loading="lazy">
                    </div>
                    <div class="container-page-item-title container-page-item-title-inside without-bg">
                        <div class="page-item-title-single page-item-title-single-inside">
                            <div class="cookandmeal-post-single cookandmeal-post">
                                <div class="post-categories"><a href="../../../../category/chicken/index.html"
                                        data-style="background-color: #8b84e5;" style="background-color: #8b84e5;"><i
                                            class="fa fa-tag cat-dot"></i><span class="cat-title">Chicken</span></a>
                                </div>
                                <div class="cookandmeal-post-details">
                                    <h1 class=" entry-title">{{blog?.name}}</h1>
                                    <div class="post-date"><time class="entry-date published updated">{{blog?.update_at
                                            | date:"dd/MM/yyyy"}}</time></div>
                                    <div class="post-info-dot"></div>
                                    <div class="post-read-time" *ngIf="blog?.cooking_time"><i class="fa fa-clock-o"
                                            aria-hidden="true"></i>{{blog?.cooking_time}}</div>
                                    <div class="post-details-bottom post-details-bottom-inline">

                                        <div class="post-info-wrapper">
                                            <div class="post-info-comments"><i class="fa fa-comment-o"
                                                    aria-hidden="true"></i><a href="index.html#respond">0</a></div>

                                            <div class="post-info-views"><i class="fa fa-eye" aria-hidden="true"></i>81
                                            </div>
                                            <div class="post-info-likes"><a href="#" class="post-like-button"
                                                    data-id="302"><i class="fa fa-heart-o"
                                                        aria-hidden="true"></i></a><span
                                                    class="post-like-counter">5</span></div>
                                        </div>

                                        <div class="post-info-share">
                                            <div class="post-social-wrapper">
                                                <div class="post-social-title"><span
                                                        class="post-social-title-text">Share</span></div>
                                                <div class="post-social-frame">
                                                    <div class="post-social">
                                                        <a title="Share with Facebook" href="index.html"
                                                            class="facebook-share"> <i class="fa fa-facebook"></i></a><a
                                                            title="Tweet this" href="index.html" data-type="twitter"
                                                            class="twitter-share"> <i class="fa fa-twitter"></i></a><a
                                                            title="Share with LinkedIn" href="index.html"
                                                            data-type="linkedin"
                                                            data-image="https://wp.wp-preview.com/cookandmeal/cookandmeal-6/wp-content/uploads/2021/06/n7bun8lv7uq-1140x694.jpg"
                                                            class="linkedin-share"> <i class="fa fa-linkedin"></i></a><a
                                                            title="Pin this" href="index.html" data-type="pinterest"
                                                            data-image="https://wp.wp-preview.com/cookandmeal/cookandmeal-6/wp-content/uploads/2021/06/n7bun8lv7uq-1140x694.jpg"
                                                            class="pinterest-share"> <i class="fa fa-pinterest"></i></a>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <article id="post-302"
                        class="post-302 post type-post status-publish format-standard has-post-thumbnail category-chicken tag-baking tag-easy tag-food tag-recipe"
                        role="main">
                        <div class="post-content-wrapper">
                            <div class="post-content clearfix">
                                <div class="post-summary">
                                    <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                    {{blog?.summary}}
                                </div>
                            </div>
                        </div>
                    </article>
                    <div class="post-recipe-block with-bg" id="post-recipe-block" vocab="https://schema.org/"
                        typeof="Recipe">
                        <div class="post-recipe-details">

                            <div class="post-recipe-details-column">

                                <h4>Ingredients</h4>
                                <ul>
                                    <li *ngFor="let item of blog?.metarial">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        <p property="recipeIngredient">
                                            {{item.mass}}&nbsp;{{item.unit}}&nbsp;{{item?.title}}</p>
                                    </li>
                                </ul>

                            </div>
                        </div>

                        <div class="post-recipe-instructions-group">
                            <h4>Instructions</h4>
                            <div class="post-recipe-instruction" *ngFor="let item of blog?.step; let i = index">
                                <div class="post-recipe-step">{{i + 1}}</div>
                                <div class="post-recipe-instruction-content">
                                    <div class="post-recipe-instruction-title">
                                        <h4 property="recipeInstructions">{{item.name}}</h4>
                                    </div>
                                    <div class="post-recipe-instruction-text" property="recipeInstructions">
                                        {{item.description}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="post-recipe-notes">
                            <h4>Notes</h4>
                            Kid-Friendly Adaptation: Cook the chicken in broth instead of buffalo sauce. Shred and drain
                            off excess liquid. Put some of the chicken aside for the kiddos (plain, no sauce) and toss
                            the remaining chicken with the buffalo sauce before you broil it.
                        </div>
                    </div>
                    <!-- <div class="post-tags-wrapper">
                        <div class="tags clearfix">
                            <a href="../../../../tag/baking/index.html" rel="tag">baking</a> <a
                                href="../../../../tag/easy/index.html" rel="tag">easy</a> <a
                                href="../../../../tag/food/index.html" rel="tag">food</a> <a
                                href="../../../../tag/recipe/index.html" rel="tag">recipe</a>
                        </div>
                    </div> -->
                    <h2>The End</h2>
                    <hr class="wp-block-separator is-style-wide">
                    <p>{{blog?.description}}</p>
                    <div class="cookandmeal-post cookandmeal-post-bottom">
                        <div class="post-details-bottom post-details-bottom-single">

                            <div class="post-info-wrapper">
                                <div class="post-info-comments"><i class="fa fa-comment-o" aria-hidden="true"></i><a
                                        href="index.html#respond">0</a></div>

                                <div class="post-info-views"><i class="fa fa-eye" aria-hidden="true"></i>81</div>
                                <div class="post-info-likes"><a href="#" class="post-like-button" data-id="302"><i
                                            class="fa fa-heart-o" aria-hidden="true"></i></a><span
                                        class="post-like-counter">5</span></div>
                            </div>

                            <div class="post-info-share">
                                <div class="post-social-wrapper">
                                    <div class="post-social-title"><span class="post-social-title-text">Share</span>
                                    </div>
                                    <div class="post-social-frame">
                                        <div class="post-social">
                                            <a title="Share with Facebook" href="index.html" class="facebook-share"> <i
                                                    class="fa fa-facebook"></i></a><a title="Tweet this"
                                                href="index.html" data-type="twitter" class="twitter-share"> <i
                                                    class="fa fa-twitter"></i></a><a title="Share with LinkedIn"
                                                href="index.html" data-type="linkedin"
                                                data-image="https://wp.wp-preview.com/cookandmeal/cookandmeal-6/wp-content/uploads/2021/06/n7bun8lv7uq-1140x694.jpg"
                                                class="linkedin-share"> <i class="fa fa-linkedin"></i></a><a
                                                title="Pin this" href="index.html" data-type="pinterest"
                                                data-image="https://wp.wp-preview.com/cookandmeal/cookandmeal-6/wp-content/uploads/2021/06/n7bun8lv7uq-1140x694.jpg"
                                                class="pinterest-share"> <i class="fa fa-pinterest"></i></a>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4 post-sidebar sidebar sidebar-right" role="complementary">
                <ul id="post-sidebar">
                    <li id="cookandmeal-text-4" class="widget widget_cookandmeal_text">
                        <div class="cookandmeal-textwidget-wrapper  cookandmeal-textwidget-no-paddings">
                            <div class="cookandmeal-textwidget"
                                data-style="background-color: #f8f0f0;padding: 30px 40px;text-align: center;"
                                style="background-color: #f8f0f0;padding: 30px 40px;text-align: center;">
                                <p><img src="../../../../../cookandmeal-1/wp-content/uploads/2021/05/author-img.png"
                                        alt=""></p>
                                <h4>Hi! I’m Amanda.</h4>
                                <p>I create super chef, create delicious recipes that require 10 ingredients or less,
                                    one bowl, or 30 minutes or less to prepare.</p>
                                <a class="btn" href="../../../../about/index.html" target="_self">About</a>
                            </div>
                        </div>
                    </li>
                    <li id="cookandmeal-categories-4" class="widget widget_cookandmeal_categories">
                        <h2 class="widgettitle">Categories</h2>
                        <div class="post-categories-list">
                            <div class="cookandmeal-post cookandmeal-image-wrapper with-bg"><a
                                    href="../../../../category/basics/index.html"
                                    class="cookandmeal-featured-category-link">
                                    <div class="post-categories-image cookandmeal-image"
                                        data-style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/05/6rjct18g_3i.jpg);"
                                        style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/05/6rjct18g_3i.jpg);">
                                    </div>
                                    <div class="post-categories-overlay">
                                        <div class="post-categories-bg" data-style="background-color: #e584b9;"
                                            style="background-color: #e584b9;"></div>
                                        <div class="post-categories">
                                            <div class="post-category"><i class="fa fa-tag cat-dot"
                                                    aria-hidden="true"></i><span class="cat-title">Basics</span></div>
                                        </div>

                                    </div>
                                </a>
                            </div>
                            <div class="cookandmeal-post cookandmeal-image-wrapper with-bg"><a
                                    href="../../../../category/chicken/index.html"
                                    class="cookandmeal-featured-category-link">
                                    <div class="post-categories-image cookandmeal-image"
                                        data-style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/05/zyx6a0reb18.jpg);"
                                        style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/05/zyx6a0reb18.jpg);">
                                    </div>
                                    <div class="post-categories-overlay">
                                        <div class="post-categories-bg" data-style="background-color: #8b84e5;"
                                            style="background-color: #8b84e5;"></div>
                                        <div class="post-categories">
                                            <div class="post-category"><i class="fa fa-tag cat-dot"
                                                    aria-hidden="true"></i><span class="cat-title">Chicken</span></div>
                                        </div>

                                    </div>
                                </a>
                            </div>
                            <div class="cookandmeal-post cookandmeal-image-wrapper with-bg"><a
                                    href="../../../../category/easy/index.html"
                                    class="cookandmeal-featured-category-link">
                                    <div class="post-categories-image cookandmeal-image"
                                        data-style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/05/1rm9glhv0ua.jpg);"
                                        style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/05/1rm9glhv0ua.jpg);">
                                    </div>
                                    <div class="post-categories-overlay">
                                        <div class="post-categories-bg" data-style="background-color: #84a6e5;"
                                            style="background-color: #84a6e5;"></div>
                                        <div class="post-categories">
                                            <div class="post-category"><i class="fa fa-tag cat-dot"
                                                    aria-hidden="true"></i><span class="cat-title">Easy</span></div>
                                        </div>

                                    </div>
                                </a>
                            </div>
                            <div class="cookandmeal-post cookandmeal-image-wrapper with-bg"><a
                                    href="../../../../category/pasta/index.html"
                                    class="cookandmeal-featured-category-link">
                                    <div class="post-categories-image cookandmeal-image"
                                        data-style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/05/t8htmte4o_g.jpg);"
                                        style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/05/t8htmte4o_g.jpg);">
                                    </div>
                                    <div class="post-categories-overlay">
                                        <div class="post-categories-bg" data-style="background-color: #e5a484;"
                                            style="background-color: #e5a484;"></div>
                                        <div class="post-categories">
                                            <div class="post-category"><i class="fa fa-tag cat-dot"
                                                    aria-hidden="true"></i><span class="cat-title">Pasta</span></div>
                                        </div>

                                    </div>
                                </a>
                            </div>
                            <div class="cookandmeal-post cookandmeal-image-wrapper with-bg"><a
                                    href="../../../../category/recipes/index.html"
                                    class="cookandmeal-featured-category-link">
                                    <div class="post-categories-image cookandmeal-image"
                                        data-style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/05/qdm6-ffkp0s.jpg);"
                                        style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/05/qdm6-ffkp0s.jpg);">
                                    </div>
                                    <div class="post-categories-overlay">
                                        <div class="post-categories-bg" data-style="background-color: #badd94;"
                                            style="background-color: #badd94;"></div>
                                        <div class="post-categories">
                                            <div class="post-category"><i class="fa fa-tag cat-dot"
                                                    aria-hidden="true"></i><span class="cat-title">Recipes</span></div>
                                        </div>

                                    </div>
                                </a>
                            </div>
                            <div class="cookandmeal-post cookandmeal-image-wrapper with-bg"><a
                                    href="../../../../category/vegan/index.html"
                                    class="cookandmeal-featured-category-link">
                                    <div class="post-categories-image cookandmeal-image"
                                        data-style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/05/evoiiaivrzu.jpg);"
                                        style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-1/wp-content/uploads/2021/05/evoiiaivrzu.jpg);">
                                    </div>
                                    <div class="post-categories-overlay">
                                        <div class="post-categories-bg" data-style="background-color: #5b8559;"
                                            style="background-color: #5b8559;"></div>
                                        <div class="post-categories">
                                            <div class="post-category"><i class="fa fa-tag cat-dot"
                                                    aria-hidden="true"></i><span class="cat-title">Vegan</span></div>
                                        </div>

                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li id="cookandmeal-list-posts-4" class="widget widget_cookandmeal_list_entries">
                        <h2 class="widgettitle">People love</h2>
                        <ul class="template-shortline-inside">

                            <li class="template-shortline">
                                <div class="cookandmeal-shortline-post cookandmeal-post">
                                    <div class="cookandmeal-post-image-wrapper"><a
                                            href="../../07/almond-flour-pancakes/index.html">
                                            <div class="cookandmeal-post-image"
                                                data-style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-6/wp-content/uploads/2021/05/qdm6-ffkp0s-220x180.jpg);"
                                                style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-6/wp-content/uploads/2021/05/qdm6-ffkp0s-220x180.jpg);">
                                            </div>
                                        </a></div>
                                    <div class="cookandmeal-post-details">
                                        <h3 class="post-title entry-title"><a
                                                href="../../07/almond-flour-pancakes/index.html">Almond Flour
                                                Pancakes</a></h3>
                                        <div class="post-date"><time class="entry-date published updated"
                                                datetime="2021-06-07T11:26:50+00:00">June 7, 2021</time></div>
                                    </div>
                                </div>
                            </li>
                            <li class="template-shortline">
                                <div class="cookandmeal-shortline-post cookandmeal-post">
                                    <div class="cookandmeal-post-image-wrapper"><a href="index.html">
                                            <div class="cookandmeal-post-image"
                                                data-style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-6/wp-content/uploads/2021/06/n7bun8lv7uq-220x180.jpg);"
                                                style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-6/wp-content/uploads/2021/06/n7bun8lv7uq-220x180.jpg);">
                                            </div>
                                        </a></div>
                                    <div class="cookandmeal-post-details">
                                        <h3 class="post-title entry-title"><a href="index.html">Taiwanese Popcorn
                                                Chicken</a></h3>
                                        <div class="post-date"><time class="entry-date published updated"
                                                datetime="2021-06-01T14:05:54+00:00">June 1, 2021</time></div>
                                    </div>
                                </div>
                            </li>
                            <li class="template-shortline">
                                <div class="cookandmeal-shortline-post cookandmeal-post">
                                    <div class="cookandmeal-post-image-wrapper"><a
                                            href="../../07/spicy-serrano-pineapple-margarita-2/index.html">
                                            <div class="cookandmeal-post-image"
                                                data-style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-6/wp-content/uploads/2021/06/jdazixxqvtc-220x180.jpg);"
                                                style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-6/wp-content/uploads/2021/06/jdazixxqvtc-220x180.jpg);">
                                            </div>
                                        </a></div>
                                    <div class="cookandmeal-post-details">
                                        <h3 class="post-title entry-title"><a
                                                href="../../07/spicy-serrano-pineapple-margarita-2/index.html">Spicy
                                                Serrano Pineapple Margarita.</a></h3>
                                        <div class="post-date"><time class="entry-date published updated"
                                                datetime="2021-06-07T11:03:59+00:00">June 7, 2021</time></div>
                                    </div>
                                </div>
                            </li>
                            <li class="template-shortline">
                                <div class="cookandmeal-shortline-post cookandmeal-post">
                                    <div class="cookandmeal-post-image-wrapper"><a
                                            href="../../08/homemade-oatmeal-chocolate-chip-cookie-crisp-cereal/index.html">
                                            <div class="cookandmeal-post-image"
                                                data-style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-6/wp-content/uploads/2021/05/image-from-rawpixel-id-105386-jpeg-220x180.jpg);"
                                                style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-6/wp-content/uploads/2021/05/image-from-rawpixel-id-105386-jpeg-220x180.jpg);">
                                            </div>
                                        </a></div>
                                    <div class="cookandmeal-post-details">
                                        <h3 class="post-title entry-title"><a
                                                href="../../08/homemade-oatmeal-chocolate-chip-cookie-crisp-cereal/index.html">Homemade
                                                Oatmeal Chocolate Chip Cookie Crisp Cereal</a></h3>
                                        <div class="post-date"><time class="entry-date published updated"
                                                datetime="2021-06-08T22:23:00+00:00">June 8, 2021</time></div>
                                    </div>
                                </div>
                            </li>
                            <li class="template-shortline">
                                <div class="cookandmeal-shortline-post cookandmeal-post">
                                    <div class="cookandmeal-post-image-wrapper"><a
                                            href="../../07/spicy-serrano-pineapple-margarita/index.html">
                                            <div class="cookandmeal-post-image"
                                                data-style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-6/wp-content/uploads/2021/06/uo4r-xn3kwe-220x180.jpg);"
                                                style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-6/wp-content/uploads/2021/06/uo4r-xn3kwe-220x180.jpg);">
                                            </div>
                                        </a></div>
                                    <div class="cookandmeal-post-details">
                                        <h3 class="post-title entry-title"><a
                                                href="../../07/spicy-serrano-pineapple-margarita/index.html">Broccoli
                                                Slaw</a></h3>
                                        <div class="post-date"><time class="entry-date published updated"
                                                datetime="2021-06-07T11:00:10+00:00">June 7, 2021</time></div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </li>
                    <!-- <li id="cookandmeal-text-6" class="widget widget_cookandmeal_text">
                        <div class="cookandmeal-textwidget-wrapper ">
                            <div class="cookandmeal-textwidget" data-style="" style=""><a
                                    href="https://magniumthemes.com/go/purchase-cookandmeal/"><img
                                        src="../../../../../cookandmeal-1/wp-content/uploads/2021/07/promo-cookandmeal-half-page-2x.jpg"
                                        alt=""></a></div>
                        </div>
                    </li>
                    <li id="cookandmeal-social-icons-3" class="widget widget_cookandmeal_social_icons">
                        <h2 class="widgettitle">Subscribe and follow</h2>
                        <div class="textwidget">
                            <div class="social-icons-wrapper social-icons-with-bg"><a href="https://facebook.com/"
                                    target="_blank" class="a-facebook have-description"><i
                                        class="fa fa-facebook"></i><span class="social-title">Facebook</span><span
                                        class="social-description">3M Likes</span></a><a href="https://pinterest.com/"
                                    target="_blank" class="a-pinterest have-description"><i
                                        class="fa fa-pinterest"></i><span class="social-title">Pinterest</span><span
                                        class="social-description">53K Subscribers</span></a><a
                                    href="https://instagram.com/" target="_blank"
                                    class="a-instagram have-description"><i class="fa fa-instagram"></i><span
                                        class="social-title">Instagram</span><span class="social-description">1M
                                        Followers</span></a><a href="https://youtube.com/" target="_blank"
                                    class="a-youtube have-description"><i class="fa fa-youtube"></i><span
                                        class="social-title">Youtube</span><span class="social-description">48K
                                        Subscribers</span></a></div>
                        </div>
                    </li> -->
                </ul>
            </div>

        </div>
    </div>
    <div class="post-container-bottom container span-col-md-8">
        <div class="row">
            <div class="col-md-8">
                <div class="author-bio">
                    <div class="author-image-wrapper">
                        <div class="author-image">
                            <a href="../../../../author/cookandmeal/index.html"><img data-del="avatar" alt=""
                                    src="../../../../wp-content/uploads/2021/06/image-from-id-473651-jpeg-150x150.jpg"
                                    class="avatar pp-user-avatar avatar-90 photo " height="90" width="90"></a>
                        </div>
                        <div class="author-posts">21 posts</div>
                    </div>
                    <div class="author-info">
                        <h3><span class="vcard author"><span class="fn"><a
                                        href="../../../../author/cookandmeal/index.html" title="Posts by Amanda Simons"
                                        rel="author">Amanda Simons</a></span></span></h3>
                        <h5>About author</h5>
                        <div class="author-description">On a cool spring morning, nothing gets me out of bed like the
                            thought of these strawberry muffins. To me, they’re the perfect balance of cozy and
                            refreshing. Cozy because they’re moist, fluffy, and warmly spiced with cinnamon. And
                            refreshing because they’re packed to the brim with fresh fruit.</div>
                        <a href="../../../../author/cookandmeal/index.html" class="author-bio-link">Articles</a>
                        <div class="author-social">
                            <ul class="author-social-icons">
                                <li class="author-social-link-website"><a
                                        href="https://wp.wp-preview.com/cookandmeal/cookandmeal-1" target="_blank"><i
                                            class="fa fa-home"></i></a></li>
                                <li class="author-social-link-email"><a href="mailto:dedalx.rus@gmail.com"
                                        target="_blank"><i class="fa fa-envelope-o"></i></a></li>
                                <li class="author-social-link-facebook"><a href="#" target="_blank"><i
                                            class="fa fa-facebook"></i></a></li>
                                <li class="author-social-link-twitter"><a href="#" target="_blank"><i
                                            class="fa fa-twitter"></i></a></li>
                                <li class="author-social-link-pinterest"><a href="#" target="_blank"><i
                                            class="fa fa-pinterest"></i></a></li>
                                <li class="author-social-link-instagram"><a href="#" target="_blank"><i
                                            class="fa fa-instagram"></i></a></li>
                                <li class="author-social-link-youtube"><a href="#" target="_blank"><i
                                            class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="blog-post-related-wrapper clearfix">
                    <h5>You may also like</h5>
                    <div class="cookandmeal-list-post cookandmeal-list-medium-post cookandmeal-post format-standard">
                        <div class="cookandmeal-post-image-wrapper"><a
                                href="../../07/sheet-pan-cheesy-poblano-corn-enchiladas/index.html">
                                <div class="cookandmeal-post-image"
                                    data-style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-6/wp-content/uploads/2021/05/ogcf9yywfcm-555x360.jpg);"
                                    style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-6/wp-content/uploads/2021/05/ogcf9yywfcm-555x360.jpg);">
                                </div>
                            </a></div>
                        <div class="cookandmeal-post-details">
                            <div class="post-categories"><a href="../../../../category/chicken/index.html"
                                    data-style="background-color: #8b84e5;" style="background-color: #8b84e5;"><i
                                        class="fa fa-tag cat-dot"></i><span class="cat-title">Chicken</span></a></div>
                            <h3 class="post-title entry-title"><a
                                    href="../../07/sheet-pan-cheesy-poblano-corn-enchiladas/index.html">Sheet Pan Cheesy
                                    Poblano Corn Enchiladas.</a></h3>
                            <div class="post-date">
                                <div class="post-sponsored-badge">Sponsored</div>
                            </div>
                            <div class="post-info-dot"></div>
                            <div class="post-read-time"><i class="fa fa-clock-o" aria-hidden="true"></i>50 min Cook
                            </div>
                            <div class="post-excerpt">Then we are layering the puff pastry with a quick schmear of
                                creamy Swiss-ified cheese sauce, an egg, and some diced ham….
                            </div>
                        </div>

                    </div>


                    <div class="cookandmeal-list-post cookandmeal-list-medium-post cookandmeal-post format-standard">
                        <div class="cookandmeal-post-image-wrapper"><a
                                href="../../../05/14/citrus-salad-with-fennel-avocado/index.html">
                                <div class="cookandmeal-post-image"
                                    data-style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-6/wp-content/uploads/2021/05/image-from-rawpixel-id-2742680-jpeg-555x360.jpg);"
                                    style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-6/wp-content/uploads/2021/05/image-from-rawpixel-id-2742680-jpeg-555x360.jpg);">
                                </div>
                            </a></div>
                        <div class="cookandmeal-post-details">
                            <div class="post-categories"><a href="../../../../category/chicken/index.html"
                                    data-style="background-color: #8b84e5;" style="background-color: #8b84e5;"><i
                                        class="fa fa-tag cat-dot"></i><span class="cat-title">Chicken</span></a></div>
                            <h3 class="post-title entry-title"><a
                                    href="../../../05/14/citrus-salad-with-fennel-avocado/index.html">Citrus Salad with
                                    Fennel &amp; Avocado</a></h3>
                            <div class="post-date"><time class="entry-date published updated"
                                    datetime="2021-05-14T10:31:58+00:00">May 14, 2021</time></div>
                            <div class="post-info-dot"></div>
                            <div class="post-read-time"><i class="fa fa-clock-o" aria-hidden="true"></i>55 min Cook
                            </div>
                            <div class="post-excerpt">Then we are layering the puff pastry with a quick schmear of
                                creamy Swiss-ified cheese sauce, an egg, and some diced ham….
                            </div>
                        </div>

                    </div>


                    <div class="cookandmeal-list-post cookandmeal-list-medium-post cookandmeal-post format-standard">
                        <div class="cookandmeal-post-image-wrapper">
                            <div class="post-review-rating-badge headers-font" data-style="background-color: #6641DB;"
                                style="background-color: #6641DB;">9.3</div><a
                                href="../../../05/10/ham-egg-and-cheese-brunch-cups/index.html">
                                <div class="cookandmeal-post-image"
                                    data-style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-6/wp-content/uploads/2021/05/4q_xlboacso-555x360.jpg);"
                                    style="background-image: url(https://wp.wp-preview.com/cookandmeal/cookandmeal-6/wp-content/uploads/2021/05/4q_xlboacso-555x360.jpg);">
                                </div>
                            </a>
                        </div>
                        <div class="cookandmeal-post-details">
                            <div class="post-categories"><a href="../../../../category/chicken/index.html"
                                    data-style="background-color: #8b84e5;" style="background-color: #8b84e5;"><i
                                        class="fa fa-tag cat-dot"></i><span class="cat-title">Chicken</span></a></div>
                            <h3 class="post-title entry-title"><a
                                    href="../../../05/10/ham-egg-and-cheese-brunch-cups/index.html">Ham, Egg, and Cheese
                                    Brunch Cups</a></h3>
                            <div class="post-date"><time class="entry-date published updated"
                                    datetime="2021-05-10T07:59:33+00:00">May 10, 2021</time></div>
                            <div class="post-info-dot"></div>
                            <div class="post-read-time"><i class="fa fa-clock-o" aria-hidden="true"></i>6 Mins read
                            </div>
                            <div class="post-excerpt">Then we are layering the puff pastry with a quick schmear of
                                creamy Swiss-ified cheese sauce, an egg, and some diced ham….
                            </div>
                        </div>

                    </div>


                </div>
                <div class="container cookandmeal-subscribe-block-container cookandmeal-block">
                    <div class="cookandmeal-subscribe-block">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="cookandmeal-subscribe-block-icon"><i class="fa fa-envelope"
                                        aria-hidden="true">
                                        <!-- Icon -->
                                    </i></div>
                                <div class="cookandmeal-subscribe-block-title">
                                    <h5 style="color: #000000">Subscribe to my Newsletter</h5>
                                    <p style="color: #9f9f9f">We'll keep you posted with news and updates!</p>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Mailchimp for WordPress v4.8.6 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                                <form id="mc4wp-form-2" class="mc4wp-form mc4wp-form-9" method="post" data-id="9"
                                    data-name="Subscribe">
                                    <div class="mc4wp-form-fields">
                                        <div class="mailchimp-widget-signup-form"><input type="email" name="EMAIL"
                                                placeholder="Please enter your e-mail" required=""><button type="submit"
                                                class="btn">Subscribe
                                            </button>
                                        </div>
                                    </div><label style="display: none !important;">Leave this field empty if you're
                                        human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1"
                                            autocomplete="off"></label><input type="hidden" name="_mc4wp_timestamp"
                                        value="1630809801"><input type="hidden" name="_mc4wp_form_id" value="9"><input
                                        type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-2">
                                    <div class="mc4wp-response"></div>
                                </form><!-- / Mailchimp for WordPress Plugin -->
                            </div>
                        </div>
                    </div>
                </div>



                <div class="clear"></div>
                <div class="comments-form-wrapper" id="comments-form-wrapper">
                    <div id="respond" class="comment-respond">
                        <h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow"
                                    id="cancel-comment-reply-link" href="index.html#respond"
                                    style="display:none;">Cancel reply</a></small></h3>
                        <form action="https://wp.wp-preview.com/cookandmeal/cookandmeal-6/wp-comments-post.php"
                            method="post" id="commentform" class="comment-form">
                            <p class="comment-notes"><span id="email-notes">Your email address will not be
                                    published.</span> Required fields are marked <span class="required">*</span></p>
                            <p class="comment-form-comment"><textarea id="comment" name="comment" cols="45" rows="8"
                                    aria-required="true"></textarea></p>
                            <p class="comment-form-author"><label for="author">Name<span
                                        class="required">*</span></label><input id="author" name="author" type="text"
                                    value="" size="30" aria-required="true"></p>
                            <p class="comment-form-email"><label for="email">Email<span
                                        class="required">*</span></label><input id="email" name="email" type="text"
                                    value="" size="30" aria-required="true"></p>
                            <p class="comment-form-url"><label for="url">Website</label><input id="url" name="url"
                                    type="text" value="" size="30"></p>
                            <p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent"
                                    name="wp-comment-cookies-consent" type="checkbox" value="yes"> <label
                                    for="wp-comment-cookies-consent">Save my name, email, and website in this browser
                                    for the next time I comment.</label></p>
                            <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit"
                                    value="Post comment"> <input type="hidden" name="comment_post_ID" value="302"
                                    id="comment_post_ID">
                                <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                            </p>
                        </form>
                    </div><!-- #respond -->
                </div>

            </div>
        </div>
    </div>
</div>