<form class="form-validate" novalidate="novalidate">
  <div class="row mt-1">
    <div class="col-12">
      <h4 class="mb-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user font-medium-4 me-25"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
        <span class="align-middle">Personal Information</span>
      </h4>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="mb-1">
        <label class="form-label" for="fullname">Full name</label>
        <input id="fullname" type="text" class="form-control birthdate-picker flatpickr-input" name="dob" placeholder="YYYY-MM-DD" readonly="readonly">
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="mb-1">
        <label class="form-label" for="birth">Birth date</label>
        <input id="birth" type="text" class="form-control birthdate-picker flatpickr-input" name="dob" placeholder="YYYY-MM-DD" readonly="readonly">
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="mb-1">
        <label class="form-label" for="mobile">Mobile</label>
        <input id="mobile" type="text" class="form-control" value="+6595895857" name="phone">
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="mb-1">
        <label class="form-label" for="address-1">Address Line 1</label>
        <input id="address-1" type="text" class="form-control" value="A-65, Belvedere Streets" name="address">
      </div>
    </div>

  </div>
</form>
